<!-- ================================================== -->
<!--  Budget template. -->
<!-- ================================================== -->

<template>
  <div
    v-touch:swipe.left="nextMonth"
    v-touch:swipe.right="prevMonth">

    <!-- Budget list view. -->
    <div v-show="!isEditingTransaction" >
      <!-- Header. -->
      <div
        id="categoryList"
        class="budget-header-container"
        style="height:40px; position: absolute; width: 100%; top: 0; bottom: 0; left: 0; right: 0">

        <!-- Select previous month button. -->
        <div
          v-if="currentMonth"
          @click="prevMonth"
          class="w3-display-container"
          :class="currentMonth.date >= $current.dbCtrl.currentMonth ? 'w3-theme-l3' : 'w3-theme-l4'">
          
          <div class="w3-display-middle w3-large">
            <div style="margin-bottom: 3px;">«</div>
          </div>

        </div>

        <!-- Selected month display. -->
        <div
          v-if="currentMonth"
          @click="goToCurrentMonth()"
          class="selected-month w3-tiny"
          :class="currentMonth.date >= $current.dbCtrl.currentMonth ? 'w3-theme-l3' : 'w3-theme-l4'">
          
          {{$dateConverter.BudgetMonth(currentMonth.date)}}

        </div>

        <!-- Select next month button. -->
        <div
          v-if="currentMonth"
          @click="nextMonth"
          class="w3-display-container"
          :class="currentMonth.date >= $current.dbCtrl.currentMonth ? 'w3-theme-l3' : 'w3-theme-l4'">

          <div class="w3-display-middle w3-large">
            <div style="margin-bottom: 3px;">»</div>
          </div>

        </div>

        <!-- Go to accounts page button. -->
        <router-link :to="'/' + $route.params.budgetId + '/accounts'" class="accounts-button w3-theme-l2">
          <i class="fa fa-credit-card" aria-hidden="true"></i> Accounts
        </router-link>

      </div>
      
      <!-- Budget values. -->
      <div
        @click="toggleShowBudgetData"
        v-if="currentMonth && showBudgetData"
        :class="currentMonth.date >= $current.dbCtrl.currentMonth ? 'w3-theme-l4' : 'w3-theme-l5'"
        style="height: 80px; position: absolute; top: 40px; bottom: 0; left: 0; right: 0;">

        <div>
          <div class="budget-data-grid w3-tiny">

            <!-- Overbudgeted last month. -->
            <div class="budget-data-value">{{currentMonth.cache.totalAvailableLastMonth | currencyInt(true, $.digits) | currency('', $.digits)}}</div>
            <div v-if="currentMonth.cache.totalAvailableLastMonth >= 0" class="budget-data-desc">Not budgeted in {{lastMonth}}</div>
            <div v-if="currentMonth.cache.totalAvailableLastMonth < 0" class="budget-data-desc">Overbudgeted in {{lastMonth}}</div>

            <!-- Overspent last month. -->
            <div class="budget-data-value">
              <span v-if="-currentMonth.cache.totalOverspentLastMonth >= 0">+</span>{{-currentMonth.cache.totalOverspentLastMonth | currencyInt(true, $.digits) | currency('', $.digits)}}
            </div>
            <div class="budget-data-desc">Overspent in {{lastMonth}}</div>

            <!-- Income for this month. -->
            <div class="budget-data-value">
              <span v-if="currentMonth.cache.totalIncome >= 0">+</span>{{currentMonth.cache.totalIncome | currencyInt(true, $.digits) | currency('', $.digits)}}
            </div>
            <div class="budget-data-desc">Income for {{thisMonth}}</div>

            <!-- Income for this month. -->
            <div class="budget-data-value">
              <span v-if="-currentMonth.cache.totalBudget >= 0">+</span>{{-currentMonth.cache.totalBudget | currencyInt(true, $.digits) | currency('', $.digits)}}
            </div>
            <div class="budget-data-desc">Budgeted in {{thisMonth}}</div>

          </div>
        </div>
      </div>

      <!-- Available to budget. -->
      <div
        v-if="currentMonth"
        @click="toggleShowBudgetData"
        class="w3-display-container"
        :class="currentMonth.date >= $current.dbCtrl.currentMonth ? 'w3-theme-l4' : 'w3-theme-l5'"
        style="position: absolute; height: 40px; bottom: 0; left: 0; right: 0;"
        :style="showBudgetData ? {'top': '120px'} : {'top': '40px'}">

        <div class="available-to-budget w3-display-middle">
          
          <b><span class="available-equal" v-if="showBudgetData">=</span></b>
          <div
            :class="getColor(currentMonth.cache.totalAvailable)"
            class="available-value w3-padding-small w3-round-xlarge">
            <center>
              <b>{{currentMonth.cache.totalAvailable | currencyInt(true, $.digits) | currency($.symbol, $.digits)}}</b>
            </center>
          </div>

          <div v-if="currentMonth.cache.totalAvailable >= 0" class="available-text w3-tiny">Available to budget</div>
          <div v-if="currentMonth.cache.totalAvailable < 0" class="available-text w3-tiny">Overbudgeted</div>
          
        </div>
      </div>

      <!-- Current month red triangle indicator. -->
      <div v-if="currentMonth">
        <div v-if="currentMonth.date === $current.dbCtrl.currentMonth" class="current-month-triangle"></div>
      </div>

      <!-- Quick budget icon. -->
      <div v-if="currentMonth">
        <div @click="toggleQuickBudget()" class="quick-budget-icon">
          <i class="fa fa-menu fa-bolt w3-text-theme w3-medium" aria-hidden="true"></i>
        </div>
      </div>

      <!-- Category header. -->
      <div
        v-if="currentMonth"
        :class="currentMonth.date >= $current.dbCtrl.currentMonth ? 'w3-theme-l3' : 'w3-theme-l4'"
        :style="showBudgetData ? {'top': '160px', 'height': '40px'} : {'top': '80px', 'height': '20px'}"
        style="position: absolute; bottom: 0; left: 0; right: 0;">

        <div class="category-header-grid w3-tiny">
          <div v-if="!showBudgetData" class="categories">Categories</div>
          <div v-if="showBudgetData"></div>
          <div class="totals-row1">Budgeted</div>
          <div class="totals-row1">Outflows</div>
          <div class="totals-row1">Balance</div>
          <div v-if="showBudgetData" class="categories">Categories</div>
          <div v-if="showBudgetData" class="totals-row2">{{currentMonth.cache.totalBudget | currencyInt(true, $.digits) | currency($.symbol, $.digits)}}</div>
          <div v-if="showBudgetData" class="totals-row2">{{currentMonth.cache.totalOutflow | currencyInt(true, $.digits) | currency($.symbol, $.digits)}}</div>
          <div v-if="showBudgetData" class="totals-row2">{{currentMonth.cache.totalBalance | currencyInt(true, $.digits) | currency($.symbol, $.digits)}}</div>
        </div>

      </div>

      <!-- Categories. -->
      <div
        v-if="currentMonth"
        :style="showBudgetData ? {'top': '200px'} : {'top': '100px'}"
        style="position: absolute; bottom: 0; left: 0; right: 0; overflow-y: scroll; -webkit-overflow-scrolling: touch;">

        <div
          id="quick-budget"
          v-if="showQuickBudgetMenu"
          @click="toggleQuickBudget()"
          class="quick-budget-header w3-theme-l4 divider-line-bottom w3-tiny">

          <i class="fa fa-menu fa-bolt w3-text-theme w3-small" aria-hidden="true"></i> <b>Quick Budget for All Categories</b>

        </div>

        <!-- Budget menu. -->
        <div v-if="showQuickBudgetMenu" class="quick-budget-menu w3-theme-l5 divider-line-bottom">

          <!-- Quick budget: Last month's budget. --> 
          <div @click="budgetAllLastMonth()" class="w3-small">
            <i class="fa fa-menu fa-bolt w3-text-green" aria-hidden="true"></i> Use Last Month's Budget for All
          </div>

          <!-- Quick budget: Last 3 months' budget. --> 
          <div @click="budgetAllLastThreeAvg()" class="w3-small">
            <i class="fa fa-menu fa-bolt w3-text-blue" aria-hidden="true"></i> Use Average of Last 3 Months for All
          </div>

          <!-- Quick budget: Budget to zero. --> 
          <div @click="budgetAllToZero()" class="w3-small">
            <i class="fa fa-menu fa-bolt w3-text-purple" aria-hidden="true"></i> Budget All to Zero
          </div>

          <!-- Quick budget: Clear budget amount. --> 
          <div @click="clearAllBudget()" class="w3-small">
            <i class="fa fa-menu fa-bolt w3-text-red" aria-hidden="true"></i> Clear All Budget Amounts
          </div>

        </div>

        <!-- Pinned categories list. -->
        <div class="w3-tiny" v-if="pinnedCategories.length > 0">

          <div
            class="master-category budget-grid divider-line-bottom"
            :class="currentMonth.date >= $current.dbCtrl.currentMonth ? 'w3-theme-l4' : 'w3-theme-l5'">

            <div class="category-name"><b><i class="fa fa-thumb-tack" style="margin-right: 2px;" aria-hidden="true"></i> Pinned Categories</b></div>

          </div>

          <ul class="w3-ul divider-line-bottom">
            <draggable :options="{group: 'pinnedCategories', delay: '500'}" style="min-height: 10px;" :list="pinnedCategories" @end="fixPinnedSort">
              <li style="padding: 0px" v-for="(cat, key) in pinnedCategories" :key="key">

                <fm-category
                  :budgetVue="budgetVue"
                  :category="cat"
                  :highlightPin="true">
                </fm-category>

              </li>
            </draggable>
          </ul>
        </div>

        <!-- Categories list. -->
        <draggable :options="{group:'masters', delay: '500'}" :list="masterCategoriesSorted" @end="doneSorting">
          <div v-for="(masterCategory, key) in masterCategoriesSorted" :key="key">

            <fm-master-category
              :budgetVue="budgetVue"
              :masterCategory="masterCategory">
            </fm-master-category>

          </div>
        </draggable>

      </div>
    </div>

    <!-- Transaction editor. -->
    <div v-if="isEditingTransaction">

      <fm-transaction-editor
        ref="transactionEditor"
        v-on:done="doneEditing"
        :newTransaction="newTransaction"
        :transaction="transactionToEdit"
        :addingFromBudget="true" />
        
    </div>

  </div>
</template>

<!-- ================================================== -->
<!--  Budget script. -->
<!-- ================================================== -->

<script>
  import moment from 'moment'
  import draggable from 'vuedraggable'
  import { Subscription } from 'rxjs/Subscription'
  import MasterCategory from './master-category'
  import Category from './category'
  import TransactionEditor from '../editors/editor-transaction'
  import { Transaction as transaction } from '../../services/data/transaction'

  let _subscriptions
  let Trans

  export default {
    name: 'fm-budget',
    components: {
      draggable,
      'fm-master-category': MasterCategory,
      'fm-category': Category,
      'fm-transaction-editor': TransactionEditor
    },
    data () {
      return {
        budgetVue: this,
        masterCategories: [],
        currentMonth: null,
        showQuickBudgetMenu: false,
        showBudgetData: true,
        isEditingTransaction: false,
        newTransaction: false,
        transactionToEdit: null
      }
    },
    computed: {
      lastMonth () {
        return this.$dateConverter.ShortMonth(this.currentMonth.date, -1)
      },
      thisMonth () {
        return this.$dateConverter.ShortMonth(this.currentMonth.date)
      },
      masterCategoriesSorted () {
        return Object.keys(this.$current.dbCtrl.masterCategories)
          .map(id => this.$current.dbCtrl.masterCategories[id])
          .sort((a, b) => a.sort - b.sort)
      },
      pinnedCategories () {
        return Object.keys(this.$current.dbCtrl.categories)
          .map(id => this.$current.dbCtrl.categories[id])
          .filter(category => category.fmobilePinned === true)
          .sort((a, b) => a.fmobilePinnedSort - b.fmobilePinnedSort)
      }
    },
    methods: {
      load () {
        Trans = transaction(this.$current.budgetId())
        this.masterCategories = this.$current.dbCtrl.masterCategories
        this.currentMonth = this.$current.dbCtrl.manager.getMonth(this.$current.monthMemory)
      },
      goToCurrentMonth () {
        this.closeAllBudgetMenus()
        this.$current.monthMemory = new Date()
        this.currentMonth = this.$current.dbCtrl.manager.getMonth(this.$current.monthMemory)
      },
      doneSorting () {
        const tempArray = []
        for (let i = 0; i < this.masterCategoriesSorted.length; i++) {
          tempArray.push(this.masterCategoriesSorted[i])
        }
        for (let i = 0; i < tempArray.length; i++) {
          if (tempArray[i].sort !== i) {
            tempArray[i].sort = i
          }
        }
      },
      prevMonth () {
        this.closeAllBudgetMenus()
        this.$current.monthMemory = moment(this.currentMonth.date).add(-1, 'month').toDate()
        this.currentMonth = this.$current.dbCtrl.manager.getMonth(this.$current.monthMemory)
      },
      nextMonth () {
        this.closeAllBudgetMenus()
        this.$current.monthMemory = moment(this.currentMonth.date).add(1, 'month').toDate()
        this.currentMonth = this.$current.dbCtrl.manager.getMonth(this.$current.monthMemory)
      },
      closeAllBudgetMenus () {
        this.$emit('showAccountMenu', null)
        this.$emit('showTransactions', null)
      },
      getColor (value) {
        if (value > 0) {
          return 'w3-green'
        } else if (value < 0) {
          return 'w3-red'
        } else {
          return 'w3-dark-grey'
        }
      },
      toggleShowBudgetData () {
        this.showBudgetData = !this.showBudgetData
        localStorage.setItem(this.$current.budgetId + '_showBudgetData', this.showBudgetData)
      },
      addTransaction (cat) {
        const transactions = Object.keys(this.$current.dbCtrl.manager.transactions)
          .map(date => this.$current.dbCtrl.manager.transactions[date])
          .filter(trans => trans.category === cat)
          .sort((a, b) => new Date(b.date) - new Date(a.date))

        let _acc = null
        let _cat = null
        let _date = null

        if (transactions.length > 0) {
          _acc = transactions[0].account
          _cat = transactions[0].category
        } else {
          _acc = this.$current.dbCtrl.onBudgetAccounts[0].id
          _cat = cat
        }

        if (this.currentMonth.date !== this.$current.dbCtrl.currentMonth) {
          _date = moment(this.currentMonth.date).format('YYYY-MM-DD')
        } else {
          _date = moment().format('YYYY-MM-DD')
        }

        const newTransaction = new Trans({
          date: _date,
          account: _acc,
          category: _cat
        })
        this.newTransaction = true
        this.editTransaction(newTransaction)
      },
      editTransaction (transaction) {
        this.transactionToEdit = transaction
        this.isEditingTransaction = true
      },
      doneEditing () {
        this.transactionToEdit = null
        this.isEditingTransaction = false
        this.newTransaction = false
      },
      toggleQuickBudget () {
        this.showQuickBudgetMenu = !this.showQuickBudgetMenu
        if (this.showQuickBudgetMenu) {
          this.$emit('showQuickBudgetMenu')
          this.$emit('scrollToDiv', 'quick-budget')
        }
      },
      budgetAllLastMonth () {
        this.$emit('budgetAllLastMonth')
        this.showQuickBudgetMenu = false
      },
      budgetAllLastThreeAvg () {
        this.$emit('budgetAllLastThreeAvg')
        this.showQuickBudgetMenu = false
      },
      budgetAllToZero () {
        this.$emit('budgetAllToZero')
        this.showQuickBudgetMenu = false
      },
      clearAllBudget () {
        this.$emit('clearAllBudget')
        this.showQuickBudgetMenu = false
      },
      tempCollapseMasters () {
        console.log('Fired!')
        this.$emit('tempCollapseMasters')
      },
      tempExpandMasters () {
        this.$emit('tempExpandMasters')
        this.doneSorting()
      },
      fixPinnedSort () {
        const tempArray = []
        for (let i = 0; i < this.pinnedCategories.length; i++) {
          tempArray.push(this.pinnedCategories[i])
        }
        for (let i = 0; i < tempArray.length; i++) {
          if (tempArray[i].fmobilePinnedSort !== i) {
            tempArray[i].fmobilePinnedSort = i
          }
        }
      }
    },
    mounted: function () {
      _subscriptions = new Subscription()

      _subscriptions.add(this.$db.$dataDestroyed.subscribe((value) => {
        this.$router.push('/')
      }))

      if (this.$current.dbCtrl === null || this.$current.dbCtrl === undefined) {
        this.$current.loadBudget(this.$route.params.budgetId, this.$db).then((dbCtrl) => {
          this.$current.dbCtrl = dbCtrl
          this.load()
        })
      } else {
        this.load()
      }

      if (localStorage.getItem(this.$current.budgetId + '_showBudgetData') === null) {
        localStorage.setItem(this.$current.budgetId + '_showBudgetData', true)
      } else {
        this.showBudgetData = localStorage.getItem(this.$current.budgetId + '_showBudgetData') === 'true'
      }

      this.$on('scrollToDiv', (id) => {
        setTimeout(() => {
          document.getElementById(id).scrollIntoView({ block: 'start', behavior: 'smooth' })
        }, 100)
      })

      this.$on('showAccountMenu', (category) => {
        this.showQuickBudgetMenu = false
      })
      this.$on('showBudgetOptions', (category) => {
        this.showQuickBudgetMenu = false
      })
      this.$on('showTransactions', (category) => {
        this.showQuickBudgetMenu = false
      })
      this.$on('showBalanceOptions', (category) => {
        this.showQuickBudgetMenu = false
      })
    },
    beforeDestroy: function () {
      _subscriptions.unsubscribe()
    },
    beforeRouteLeave (to, from, next) {
      if (to.name === 'Budget') {
        if (this.isEditingTransaction) {
          next(false)
          this.$refs.transactionEditor.goBack()
        } else {
          next()
        }
      } else {
        next()
      }
    }
  }
</script>

<!-- ================================================== -->
<!--  Budget CSS. -->
<!-- ================================================== -->

<style>
  .bar-40 {
    height: 40px;
  }

  .bar-50 {
    height: 50px;
  }

  .budget-header-container {
    display: grid;
    grid-template-columns: 50px auto 50px 120px;
  }

  .selected-month {
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    overflow: hidden;
  }

  .accounts-button {
    height: 40px;
    width: 120px;
    vertical-align: center;
    text-align: center;
    line-height: 40px;
    padding: 0px 16px;
  }

  .current-month-triangle {
    position: absolute;
    top: 40px;
    right: 0px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0px 20px 20px 0px;
    border-color: transparent #f44236 transparent transparent ; 
  }

  .budget-data-grid {
    padding: 8px 0px 0px 0px;
    height: 80px;
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 16px;
  }

  .budget-data-value {
    font-weight: bold;
    text-align: right;
  }

  .budget-data-desc {
    text-align: left;
  }

  .available-to-budget {
    width: 100%;
    text-align: center;
    vertical-align: center;
  }

  .available-equal {
    position: relative;
    left: 100px;
    white-space: nowrap;
    display: inline-block;
  }

  .available-value {
    margin-left: 100px;
    min-width: 75px;
    white-space: nowrap;
    display: inline-block;
  }

  .available-text {
    width: 100px;
    white-space: nowrap;
    display: inline-block;
    text-align: left;
  }

  .category-header-grid {
    display: grid;
    grid-template-columns: auto 80px 80px 80px;
    grid-template-rows: 20px 20px;
    align-items: stretch;
  }

  .totals-row1 {
    text-align: right;
    margin: 0px 8px 0px 0px;
    vertical-align: middle;
    line-height: 20px;
  }

  .totals-row2 {
    text-align: right;
    margin: 0px 8px 0px 0px;
    vertical-align: middle;
    line-height: 20px;
  }

  .categories {
    text-align: left;
    padding: 0px 0px 0px 8px;
    vertical-align: middle;
    line-height: 20px;
  }

  .master-category {
    height: 40px;
  }

  .category {
    height: 50px;
  }

  .budget-grid {
    display: grid;
    grid-template-columns: auto 80px 80px 80px;
    align-items: center;
  }

  .category-name {
    text-align: left;
    padding: 0px 0px 0px 8px;
  }

  .budget-value {
    text-align: right;
    margin: 0px 8px 0px 0px;
  }

  .budget-value-text {
    display: inline-block;
    white-space: nowrap;
  }

  .divider-line-top {
    border-top: 1px solid #ddd;
  }

  .divider-line-bottom {
    border-bottom: 1px solid #ddd;
  }

  .fa {
    margin-right: 2px;
  }

  .fa-menu {
    width: 12px;
  }

  .quick-budget-header {
    height: 40px;
    vertical-align: middle;
    line-height: 40px;
    padding-left: 10px;
  }

  .quick-budget-icon {
    position: absolute;
    top: 40px;
    left: 0px;
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
  }

  .quick-budget-menu {
    display: grid;
    grid-template-rows: 30px 30px 30px 30px;
    grid-gap: 10px;
    padding: 10px;
    align-items: center;
  }
</style>
