<!-- ================================================== -->
<!--  Master category template. -->
<!-- ================================================== -->

<template>
  <div class="w3-tiny noselect">
    <div
      class="master-category budget-grid divider-line-bottom"
      :class="budgetVue.currentMonth.date >= $current.dbCtrl.currentMonth ? 'w3-theme-l4' : 'w3-theme-l5'">

      <div @click="toggleCollapsed" class="category-name">
        <b>
          <i v-if="collapsed" class="fa fa-caret-right" aria-hidden="true"></i>
          <i v-if="!collapsed" class="fa fa-caret-down" aria-hidden="true"></i>
          {{masterCategory.name}}
        </b>
      </div>

      <div class="budget-value">
        {{getMasterCategoryBudget(masterCategory.id) | currencyInt(true, $.digits) | currency('', $.digits)}}
      </div>

      <div class="budget-value">
        {{getMasterCategoryOutflow(masterCategory.id) | currencyInt(true, $.digits) | currency('', $.digits)}}
      </div>

      <div class="budget-value">
        {{getMasterCategoryBalance(masterCategory.id) | currencyInt(true, $.digits) | currency('', $.digits)}}
      </div>

    </div>
    
    <ul v-if="!collapsed" class="w3-ul divider-line-bottom">
      <draggable :options="{group: 'categories', delay: '500'}" style="min-height: 10px;" :list="masterCategory.categories" @end="onMove">
        <li style="padding: 0px;" v-for="(cat, key) in masterCategory.categories" :key="key">

          <fm-category
            :budgetVue="budgetVue"
            :category="cat"
            :highlightPin="false">
          </fm-category>

        </li>
      </draggable>
    </ul>
  </div>
</template>

<!-- ================================================== -->
<!--  Master category script. -->
<!-- ================================================== -->

<script>
  import draggable from 'vuedraggable'
  import Category from './category'

  export default {
    name: 'fm-master-category',
    components: {
      draggable,
      'fm-category': Category
    },
    props: [
      'budgetVue',
      'masterCategory'
    ],
    data () {
      return {
        'collapsed': false,
        'collapsedMem': false
      }
    },
    methods: {
      toggleCollapsed () {
        this.collapsed = !this.collapsed
      },
      collapse () {
        this.collapsed = true
      },
      expand () {
        this.collapsed = false
      },
      tempCollapse () {
        this.collapsedMem = this.collapsed
        this.collapsed = true
      },
      tempExpand () {
        this.collapsed = this.collapsedMem
      },
      getCategoryBudget (categoryId) {
        const category = this.budgetVue.currentMonth.categories[categoryId]

        if (category) {
          return category.budget
        } else {
          return 0
        }
      },
      getCategoryOutflow (categoryId) {
        const categoryCache = this.budgetVue.currentMonth.categoryCache[categoryId]

        if (categoryCache) {
          return categoryCache.outflow
        } else {
          return 0
        }
      },
      getCategoryBalance (categoryId) {
        const categoryCache = this.budgetVue.currentMonth.categoryCache[categoryId]

        if (categoryCache) {
          return categoryCache.balance
        } else {
          return 0
        }
      },
      getMasterCategoryBudget (id) {
        let total = 0
        for (let i = 0; i < this.$current.dbCtrl.masterCategories[id].categories.length; i++) {
          total += this.getCategoryBudget(this.$current.dbCtrl.masterCategories[id].categories[i].id)
        }
        return total
      },
      getMasterCategoryOutflow (id) {
        let total = 0
        for (let i = 0; i < this.$current.dbCtrl.masterCategories[id].categories.length; i++) {
          total += this.getCategoryOutflow(this.$current.dbCtrl.masterCategories[id].categories[i].id)
        }
        return total
      },
      getMasterCategoryBalance (id) {
        let total = 0
        for (let i = 0; i < this.$current.dbCtrl.masterCategories[id].categories.length; i++) {
          total += this.getCategoryBalance(this.$current.dbCtrl.masterCategories[id].categories[i].id)
        }
        return total
      },
      onMove (event) {
        this.budgetVue.$emit('fixCategories')
      }
    },
    mounted () {
      this.budgetVue.$on('tempCollapseMasters', () => {
        this.tempCollapse()
      })

      this.budgetVue.$on('tempExpandMasters', () => {
        this.tempExpand()
      })

      this.budgetVue.$on('fixCategories', () => {
        // Loop through all categories and fix the sort order and master category id.
        for (let i = 0; i < this.masterCategory.categories.length; i++) {
          const cat = this.masterCategory.categories[i]
          if (cat && (cat.sort !== i || cat.masterCategory !== this.masterCategory.id)) {
            const saveFn = cat.fn
            cat.fn = null
            cat.sort = i
            cat.masterCategory = this.masterCategory.id
            cat.fn = saveFn
            cat.emitChange()
          }
        }
      })
    }
  }
</script>

<!-- ================================================== -->
<!--  Master category CSS. -->
<!-- ================================================== -->

<style scoped>

</style>