<!-- ================================================== -->
<!--  Note icon template. -->
<!-- ================================================== -->

<template>
  <div class="note w3-tiny">
    <div class="note-highlight">
      <i :class="disable ? 'w3-text-grey' : 'w3-text-orange'" class="fa fa-sticky-note-o" aria-hidden="true"></i>
    </div>
    <i :style="disable ? {'color': '#ccc'} : {'color': '#ffeb3b'}" class="fa fa-sticky-note" aria-hidden="true"></i>
  </div>
</template>

<!-- ================================================== -->
<!--  Note icon script. -->
<!-- ================================================== -->

<script>
  export default {
    name: 'fm-note-icon',
    props: [
      'disable'
    ]
  }
</script>

<!-- ================================================== -->
<!--  Note icon CSS. -->
<!-- ================================================== -->

<style>
  .note {
    display: inline-block;
    justify-self: center;
    position: relative;
  }

  .note-highlight {
    position: absolute;
    left: 0;
    top: 0;
  }
</style>