<!-- ================================================== -->
<!--  Split editor template. -->
<!-- ================================================== -->

<template>
  <div>

    <amount-editor ref="splitAmountEditor" v-if="editingAmount" :originalAmount="value" v-on:save="amountSave" v-on:cancel="editCancel" />
    <payee-editor ref="splitPayeeEditor" v-if="editingPayee" :originalPayee="payee" v-on:save="payeeSave" v-on:cancel="editCancel" />
    <split-category-editor ref="splitCategoryEditor" v-if="editingCategory" :originalCategory="category" :currentData="currentData" v-on:save="categorySave" v-on:cancel="editCancel" />
    <memo-editor ref="splitMemoEditor" v-if="editingMemo" :originalMemo="memo" v-on:save="memoSave" v-on:cancel="editCancel" />

    <div v-if="!editing">
      <!-- Header. -->
      <div class="w3-display-container w3-container w3-theme-l3" style="height:40px; position: absolute; width: 100%; top: 0; bottom: 0; left: 0; right: 0">
        <div class="w3-display-left w3-container">Edit Split</div>
      </div>

      <div style="position: absolute; width: 100%; top: 40px; bottom: 0; left: 0; right: 0; overflow: auto">

        <div @click="amountEdit" class="list-item w3-border-bottom w3-display-container">
          <div class="w3-display-left w3-text-theme w3-margin-left">Amount</div>
          <div
            class="w3-display-right w3-margin-right"
            v-bind:class="[value < 0 ? 'w3-text-red' : value > 0 ? 'w3-text-green' : 'w3-text-gray']">
            <b>{{value | currencyInt(true, $.digits) | currency($.symbol, $.digits)}}</b>
          </div>
        </div>

        <div @click="payeeEdit" class="list-item w3-border-bottom w3-display-container">
          <div class="w3-display-left w3-text-theme w3-margin-left">Payee</div>
          <div class="w3-display-right w3-margin-right" :style="[payeeName === 'Optional' ? {'font-style': 'italic', 'color': '#cccccc'} : {}]">{{payeeName}}</div>
        </div>

        <div v-if="onBudget" @click="categoryEdit" class="list-item w3-border-bottom w3-display-container">
          <div class="w3-display-left w3-text-theme w3-margin-left">Category</div>
          <div class="w3-display-right w3-margin-right">{{categoryName}}</div>
        </div>

        <div @click="memoEdit" class="list-item w3-border-bottom w3-display-container">
          <div class="w3-display-left w3-text-theme w3-margin-left">Memo</div>
          <div class="w3-display-right w3-margin-right">{{memoDisplay}}</div>
        </div>

        <div class="save-cancel-wrapper">
          <div @click="save" class="button w3-card w3-theme">Save</div>
          <div @click="cancel" class="button w3-card w3-theme">Cancel</div>
        </div>

      </div>
    </div>

  </div>
</template>

<!-- ================================================== -->
<!--  Split editor script. -->
<!-- ================================================== -->

<script>
  import AmountEditor from './editor-amount'
  import PayeeEditor from './editor-payee'
  import SplitCategoryEditor from './editor-split-category'
  import MemoEditor from './editor-memo'

  export default {
    name: 'fm-split-editor',
    components: {
      AmountEditor,
      PayeeEditor,
      SplitCategoryEditor,
      MemoEditor
    },
    props: [
      'transaction',
      'split',
      'currentData'
    ],
    data () {
      return {
        account: null,
        value: 0,
        payee: null,
        category: null,
        memo: null,
        editingAmount: false,
        editingPayee: false,
        editingCategory: false,
        editingMemo: false
      }
    },
    computed: {
      editing () {
        return this.editingAmount || this.editingPayee || this.editingCategory || this.editingMemo
      },
      payeeName () {
        if (this.payee && this.payee.constructorName === 'Account') {
          return '⇄ ' + this.payee.name
        } else if (this.payee && this.payee.constructorName === 'Payee') {
          return this.payee.name
        } else if (typeof this.payee === 'string') {
          return this.payee
        } else {
          return 'Optional'
        }
      },
      categoryName () {
        return this.$current.dbCtrl.getCategoryName(this.category, this.currentData.date) || '' // (accountCtrl.transactionNeedsCategory(transaction) ? 'No category' : '')
      },
      memoDisplay () {
        if (this.memo) {
          return this.memo
        } else {
          return ''
        }
      },
      onBudget () {
        const acc = this.$current.dbCtrl.manager.getAccount(this.transaction.account)
        if (acc !== undefined && acc !== null) {
          return acc.onBudget
        } else {
          return false
        }
      }
    },
    methods: {
      goBack () {
        if (!this.editing) {
          this.cancel()
        } else {
          if (this.editingAmount) {
            this.$refs.splitAmountEditor.goBack()
          }
          if (this.editingPayee) {
            this.$refs.splitPayeeEditor.goBack()
          }
          if (this.editingCategory) {
            this.$refs.splitCategoryEditor.goBack()
          }
          if (this.editingMemo) {
            this.$refs.splitMemoEditor.goBack()
          }
        }
      },
      editCancel () {
        this.editingAmount = false
        this.editingPayee = false
        this.editingCategory = false
        this.editingMemo = false
      },
      amountEdit () {
        this.editingAmount = true
      },
      amountSave (amount) {
        this.value = amount
        this.editingAmount = false
      },
      payeeEdit () {
        this.editingPayee = true
      },
      payeeSave (payee) {
        this.payee = payee
        if (this.payee && this.payee.constructorName === 'Account') {
          if (this.payee.onBudget) {
            this.category = null
          }
        }
        this.editingPayee = false
      },
      categoryEdit () {
        this.editingCategory = true
      },
      categorySave (category) {
        this.category = category
        if (this.payee && this.payee.constructorName === 'Account') {
          if (this.payee.onBudget) {
            this.payee = null
          }
        }
        this.editingCategory = false
      },
      memoEdit () {
        this.editingMemo = true
      },
      memoSave (memo) {
        this.memo = memo
        this.editingMemo = false
      },
      save () {
        this.split.value = this.value
        this.split.payee = this.payee
        this.split.category = this.category
        this.split.memo = this.memo

        if (this.payee && this.payee.constructorName === 'Account') {
          this.split.transfer = this.payee.id
        }

        this.$emit('done')
      },
      cancel () {
        this.$emit('done')
      }
    },
    mounted () {
      this.value = this.split.value
      this.payee = this.split.payee
      this.category = this.split.category
      this.memo = this.split.memo
    }
  }
</script>

<!-- ================================================== -->
<!--  Split editor CSS. -->
<!-- ================================================== -->

<style scoped>
  .list-item {
    height: 50px;
    margin: 0;
    padding: 0;
  }

  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none;
  }

  .container {
    display: table;
    width: 100%;
    margin: 8px 0px 8px 0px;
  }

  .labels {
    width: 60px;
    display:table-cell;
  }

  .inputs {
    width: 100%;
    display: table-cell;
    padding: 4px;
  }
</style>