<!-- ================================================== -->
<!--  Transaction editor template. -->
<!-- ================================================== -->

<template>
  <div>

    <account-editor ref="accountEditor" v-if="editingAccount" :originalAccount="account" v-on:save="accountSave" v-on:cancel="editCancel" />
    <date-editor ref="dateEditor" v-if="editingDate" :originalDate="date" v-on:save="dateSave" v-on:cancel="editCancel" />
    <amount-editor ref="amountEditor" v-if="editingAmount" :originalAmount="value" v-on:save="amountSave" v-on:cancel="editCancel" />
    <payee-editor ref="payeeEditor" v-if="editingPayee" :originalPayee="payee" :category="category" v-on:save="payeeSave" v-on:cancel="editCancel" />
    <category-editor ref="categoryEditor" v-if="editingCategory" :isSplit="false" :transaction="transaction" :originalCategory="category" :originalSplits="splits" :currentData="{date: date, payee: payeeName, memo: memoDisplay, value: value}" v-on:save="categorySave" v-on:cancel="editCancel" />
    <memo-editor ref="memoEditor" v-if="editingMemo" :originalMemo="memo" v-on:save="memoSave" v-on:cancel="editCancel" />

    <div v-if="!editing">
      <!-- Header. -->
      <div class="w3-display-container w3-container w3-theme-l3" style="height:40px; position: absolute; width: 100%; top: 0; bottom: 0; left: 0; right: 0">
        <div class="w3-display-left w3-container">{{newTransaction ? 'New Transaction' : 'Edit Transaction'}}</div>
      </div>

      <div style="position: absolute; width: 100%; top: 40px; bottom: 0; left: 0; right: 0; overflow: auto">

        <div v-if="addingFromBudget">
          <div class="warning-text w3-amber w3-tiny"><b>⚠ Note</b>: Verify that account is correct.</div>
        </div>

        <div v-if="account !== originalAccount && !addingFromBudget">
          <div class="warning-text w3-amber w3-tiny"><b>⚠ Note</b>: Transaction will be moved to another account.</div>
        </div>

        <div v-if="!transfer || transfer.constructorName === 'Transaction'" @click="accountEdit" class="list-item w3-border-bottom w3-display-container">
          <div class="w3-display-left w3-text-theme w3-margin-left">Account</div>
          <div class="w3-display-right w3-margin-right">{{accountName}}</div>
        </div>

        <div @click="dateEdit" class="list-item w3-border-bottom w3-display-container">
          <div class="w3-display-left w3-text-theme w3-margin-left">Date</div>
          <div class="w3-display-right w3-margin-right">{{dateDisplay}}</div>
        </div>

        <div @click="amountEdit" class="list-item w3-border-bottom w3-display-container">
          <div class="w3-display-left w3-text-theme w3-margin-left">Amount</div>
          <div
            class="w3-display-right w3-margin-right"
            v-bind:class="[value < 0 ? 'w3-text-red' : value > 0 ? 'w3-text-green' : 'w3-text-gray']">
            <b>{{value | currencyInt(true, $.digits) | currency($.symbol, $.digits)}}</b>
          </div>
        </div>

        <div @click="payeeEdit" class="list-item w3-border-bottom w3-display-container">
          <div class="w3-display-left w3-text-theme w3-margin-left">Payee</div>
          <div class="w3-display-right w3-margin-right">{{payeeName}}</div>
        </div>

        <div v-if="onBudget" @click="categoryEdit" class="list-item w3-border-bottom w3-display-container">
          <div class="w3-display-left w3-text-theme w3-margin-left">Category</div>
          <div v-if="!categoryError && !categoryNotNeeded" class="w3-display-right w3-margin-right">{{categoryName}}</div>
          <div v-if="categoryError" class="w3-display-right w3-margin-right">
            <div class="w3-red w3-round-xlarge w3-padding-small">Category Required</div>
          </div>
          <div v-if="categoryNotNeeded" class="w3-display-right w3-margin-right" style="color: #ccc; font-style: italic;">Category Not Needed</div>
        </div>

        <div @click="memoEdit" class="list-item w3-border-bottom w3-display-container">
          <div class="w3-display-left w3-text-theme w3-margin-left">Memo</div>
          <div class="w3-display-right w3-margin-right">{{memoDisplay}}</div>
        </div>

        <div class="list-item w3-border-bottom w3-display-container">
          <div class="w3-display-left w3-text-theme w3-margin-left">Cleared</div>
          <div class="w3-display-right w3-margin-right">

            <i v-if="reconciled" class="w3-text-dark-grey fa fa-lock" style="font-size: 26px; margin-right: 4px"></i>

            <label v-if="!reconciled" class="switch">
              <input type="checkbox" v-model="cleared">
              <span class="slider round" :class="[cleared === true ? 'w3-theme' : '']"></span>
            </label>

          </div>
        </div>

        <div class="list-item w3-border-bottom w3-display-container">
          <div class="w3-display-left w3-text-theme w3-margin-left">Flag</div>
          <div class="w3-display-right w3-margin-right">
            <div @click="setFlag(null)" class="flag-selector flag-none" :style="[flag === null ? {'background-color': '#cccccc'} : {}]"></div>
            <div @click="setFlag('#ff0000')" class="flag-selector flag-red" :style="[flag === '#ff0000' ? {'background-color': '#ff0000'} : {}]"></div>
            <div @click="setFlag('#faa710')" class="flag-selector flag-orange" :style="[flag === '#faa710' ? {'background-color': '#faa710'} : {}]"></div>
            <div @click="setFlag('#e5e500')" class="flag-selector flag-yellow" :style="[flag === '#e5e500' ? {'background-color': '#e5e500'} : {}]"></div>
            <div @click="setFlag('#76b852')" class="flag-selector flag-green" :style="[flag === '#76b852' ? {'background-color': '#76b852'} : {}]"></div>
            <div @click="setFlag('#5276b8')" class="flag-selector flag-blue" :style="[flag === '#5276b8' ? {'background-color': '#5276b8'} : {}]"></div>
            <div @click="setFlag('#b852a9')" class="flag-selector flag-purple" :style="[flag === '#b852a9' ? {'background-color': '#b852a9'} : {}]"></div>
          </div>
        </div>

        <div class="save-cancel-wrapper">
          <div @click="save" class="button w3-card w3-theme">Save</div>
          <div @click="cancel" class="button w3-card w3-theme">Cancel</div>
        </div>

      </div>
    </div>

  </div>
</template>

<!-- ================================================== -->
<!--  Transaction editor script. -->
<!-- ================================================== -->

<script>
  import moment from 'moment'
  import AccountEditor from './editor-account'
  import DateEditor from './editor-date'
  import AmountEditor from './editor-amount'
  import PayeeEditor from './editor-payee'
  import CategoryEditor from './editor-category'
  import MemoEditor from './editor-memo'

  import { Payee as payee } from '../../services/data/payee'
  import { Transaction as transaction } from '../../services/data/transaction'
  import { SplitTransaction as splitTransaction } from '../../services/data/split-transaction'

  let Payee
  let Transaction
  let SplitTransaction

  export default {
    name: 'fm-transaction-editor',
    components: {
      AccountEditor,
      DateEditor,
      AmountEditor,
      PayeeEditor,
      CategoryEditor,
      MemoEditor
    },
    props: [
      'transaction',
      'newTransaction',
      'addingFromBudget'
    ],
    data () {
      return {
        originalAccount: null,
        account: null,
        value: 0,
        date: null,
        payee: null,
        category: null,
        memo: null,
        checkNumber: null,
        flag: null,
        cleared: false,
        reconciled: false,
        splits: [],
        transfer: null,
        editingAccount: false,
        editingDate: false,
        editingAmount: false,
        editingPayee: false,
        editingCategory: false,
        editingMemo: false
      }
    },
    computed: {
      editing () {
        return this.editingAccount || this.editingDate || this.editingAmount || this.editingPayee || this.editingCategory || this.editingMemo
      },
      accountName () {
        const acc = this.$current.dbCtrl.manager.getAccount(this.account)
        if (acc !== null && acc !== undefined) {
          return acc.name
        } else {
          return ''
        }
      },
      dateDisplay () {
        const d = new Date(this.date)
        return this.$dateSettings.dateDisplay(d)
      },
      payeeName () {
        if (this.payee && this.payee.constructorName === 'Account') {
          return '⇄ ' + this.payee.name
        } else if (this.payee && this.payee.constructorName === 'Payee') {
          return this.payee.name
        } else if (typeof this.payee === 'string') {
          return this.payee
        } else {
          return ''
        }
      },
      categoryName () {
        return this.$current.dbCtrl.getCategoryName(this.category, this.date) || ''
      },
      categoryError () {
        if (this.payee && this.payee.constructorName === 'Payee') {
          if (this.category === null || this.category === undefined) {
            return true
          }
        } else if (this.payee && this.payee.constructorName === 'Account') {
          if (!this.$current.dbCtrl.manager.getAccount(this.payee.id).onBudget) {
            if (this.category === null || this.category === undefined) {
              return true
            }
          }
        }
        return false
      },
      categoryNotNeeded () {
        if (this.payee && this.payee.constructorName === 'Account') {
          if (this.$current.dbCtrl.manager.getAccount(this.payee.id).onBudget) {
            return true
          }
        }
        return false
      },
      memoDisplay () {
        if (this.memo) {
          return this.memo
        } else {
          return ''
        }
      },
      onBudget () {
        const acc = this.$current.dbCtrl.manager.getAccount(this.account)
        if (acc !== undefined && acc !== null) {
          return acc.onBudget
        } else {
          return false
        }
      }
    },
    methods: {
      goBack () {
        if (!this.editing) {
          this.cancel()
        } else {
          if (this.editingDate) {
            this.$refs.dateEditor.goBack()
          }
          if (this.editingAmount) {
            this.$refs.amountEditor.goBack()
          }
          if (this.editingPayee) {
            this.$refs.payeeEditor.goBack()
          }
          if (this.editingCategory) {
            this.$refs.categoryEditor.goBack()
          }
          if (this.editingMemo) {
            this.$refs.memoEditor.goBack()
          }
        }
      },
      editCancel () {
        this.editingAccount = false
        this.editingDate = false
        this.editingAmount = false
        this.editingPayee = false
        this.editingCategory = false
        this.editingMemo = false
      },
      accountEdit () {
        this.editingAccount = true
      },
      accountSave (account) {
        this.account = account
        this.editingAccount = false
      },
      dateEdit () {
        this.editingDate = true
      },
      dateSave (date) {
        this.date = date
        this.editingDate = false
      },
      amountEdit () {
        this.editingAmount = true
      },
      amountSave (amount) {
        this.value = amount
        this.editingAmount = false

        if (!this.payee) {
          this.payeeEdit()
        }
      },
      payeeEdit () {
        this.editingPayee = true
      },
      payeeSave (payee) {
        this.payee = payee
        this.editingPayee = false

        if (this.addingFromBudget) {
          this.memoEdit()
          return
        }

        const acc = this.$current.dbCtrl.manager.getAccount(this.account)

        if (!acc.onBudget && !this.memo) {
          if (!this.memo) {
            this.memoEdit()
          }
        } else if (this.payee && this.payee.constructorName === 'Account') {
          if (this.$current.dbCtrl.manager.getAccount(this.payee.id).onBudget) {
            if (!this.memo) {
              this.memoEdit()
            }
          } else {
            this.categoryEdit()
          }
        } else {
          if (this.payee && this.payee.constructorName === 'Payee') {
            if (this.category === null || this.category === undefined) {
              this.category = this.payee.categorySuggest
            }
          }
          this.categoryEdit()
        }
      },
      categoryEdit () {
        if (this.categoryNotNeeded) {
          return
        }
        this.editingCategory = true
      },
      categorySave (data) {
        this.category = data.category
        this.splits = data.splits
        this.editingCategory = false

        if (!this.memo) {
          this.memoEdit()
        }
      },
      memoEdit () {
        this.editingMemo = true
      },
      memoSave (memo) {
        this.memo = memo
        this.editingMemo = false
      },
      setFlag (color) {
        this.flag = color
      },
      save () {
        if (this.categoryError) {
          return
        }
        this.submit()
        this.$emit('done')
      },
      cancel () {
        this.$emit('done')
      },
      submit () {
        // Attempt reference to account and transferAccount
        const account = this.$current.dbCtrl.manager.getAccount(this.account)

        let transferAccount = null
        if (this.payee) {
          transferAccount = this.$current.dbCtrl.manager.getAccount(this.payee.id)
        }

        // Remove the emit change handle to prevent 409 conflicts
        const saveFn = this.transaction.fn || this.$current.dbCtrl.manager.saveFn
        this.transaction.fn = null

        if (this.transaction.transfer) {
          this.transaction.transfer.fn = null
        }

        this.transaction.splits.forEach(s => {
          if (s.transfer) {
            s.transfer.fn = null
          }
        })

        // Save all relevant data
        this.transaction.account = this.account
        this.transaction.flag = this.flag
        this.transaction.date = this.date

        this.saveCategory(this.transaction, this.category, account, transferAccount)

        this.transaction.memo = this.memo

        this.transaction.cleared = this.cleared
        this.transaction.checkNumber = this.checkNumber
        this.transaction.value = this.value || 0

        this.savePayee(this.transaction, this.payee, account, transferAccount)

        this.transaction.splits = this.splits.map(s => this.createSplitTransaction(new SplitTransaction(this.transaction), s))

        if (!this.$current.dbCtrl.manager.transactions[this.transaction.id]) {
          this.$current.dbCtrl.manager.addTransaction(this.transaction)
        }

        // Save transaction
        this.transaction.fn = saveFn
        this.transaction._emitChange()

        // Save transaction's transfer, if exists
        if (this.transaction.transfer) {
          this.transaction.transfer.fn = saveFn
          this.transaction.transfer._emitChange()
        }

        for (let i = 0; i < this.transaction.splits.length; i++) {
          // Save transaction splits's transfer(s), if exists
          if (this.transaction.splits[i].transfer) {
            this.transaction.splits[i].transfer.fn = saveFn
            this.transaction.splits[i].transfer._emitChange()
          }
        }
      },
      addSplit () {
        const split = new SplitTransaction(this.transaction).toJSON()
        this.splits.push(split)

        // $timeout(() => {
        //   $rootScope.$broadcast('split:new')
        // })
      },
      removeSplit (split) {
        const index = this.splits.indexOf(split)

        if (split !== -1) {
          this.splits.splice(index, 1)
        }

        if (!this.splits.length) {
          this.category = null
        }
      },
      saveCategory (transaction, category, account, transferAccount) {
        if (!account || account.onBudget) {
          if (transferAccount && transferAccount.onBudget) {
            transaction.category = null
          } else {
            transaction.category = category
          }
        } else {
          transaction.category = null
        }
      },
      validateSplits (value, splits) {
        return value === splits.reduce((prev, curr) => prev + curr.value, 0)
      },
      savePayee (transaction, payee, account, transferAccount) {
        if (payee && payee.constructorName === 'Payee') {
          if (payee.id !== transaction.payee) {
            this.addPayee(transaction, payee)
          }
        } else if (payee && payee.constructorName === 'Account') {
          if (transaction.payee) {
            this.removePayee(transaction)
          }

          if (transaction.transfer) {
            transaction.transfer.account = payee.id
          } else {
            // Need to create transfer transaction
            transaction.transfer = new Transaction({
              value: -transaction.value,
              date: moment(transaction.date).format('YYYY-MM-DD'),
              account: payee.id,
              transfer: transaction.id,
              memo: transaction.memo,
              category: null
            })

            if (!transferAccount || transferAccount.onBudget) {
              if (account && account.onBudget) {
                transaction.transfer.category = null
              } else {
                transaction.transfer.category = transaction.category
              }
            } else {
              transaction.transfer.category = null
            }

            transaction._data.transfer = transaction.transfer.id

            transaction.transfer.transfer = transaction

            this.$current.dbCtrl.manager.addTransaction(transaction.transfer)
          }
        } else if (!payee) {
          this.removeTransfer(transaction)

          if (transaction.payee) {
            this.removePayee(transaction)
          }

          transaction.payee = null
        } else if (payee && typeof payee === 'string') {
          // Find existing in use case where using same payee name for multiple split
          // transactions on one that doesn't currently exist

          const existingPayee = this.findPayeeByName(payee)

          if (existingPayee) {
            // One already exists
            if (existingPayee.id !== transaction.payee) {
              this.addPayee(transaction, existingPayee)
            }
          } else {
            // Does not exist
            const newPayee = new Payee({
              name: payee,
              categorySuggest: transaction.category
            })

            this.addPayee(transaction, newPayee)

            this.$current.dbCtrl.payees[newPayee.id] = newPayee
            this.$current.budgetMgr().put(newPayee)
            newPayee.subscribe(this.$current.budgetMgr().put)
          }
        }
      },
      findPayeeByName (payeeName) {
        for (const id in this.$current.dbCtrl.payees) {
          if (this.$current.dbCtrl.payees[id].name === payeeName) {
            return this.$current.dbCtrl.payees[id]
          }
        }
      },
      initializeSplitEditor (split) {
        const data = JSON.parse(JSON.stringify(split.toJSON()))

        data.value = split.value

        data.payee = this.$current.dbCtrl.payees[split.payee]
        data.oldPayee = split.payee

        if (split.transfer) {
          data.payee = this.$current.dbCtrl.manager.getAccount(split.transfer.account)
        }

        return data
      },
      createSplitTransaction (split, data) {
        split.data.id = data.id
        split.id = data.id
        split.payee = data.oldPayee

        split.transfer = this.$current.dbCtrl.manager.transactions[data.transfer]
        split.data.transfer = data.transfer
        if (split.transfer) {
          split.transfer.fn = null
        }

        split.memo = data.memo
        split.value = data.value || 0

        // Attempt reference to account and transferAccount
        const account = this.$current.dbCtrl.manager.getAccount(split.account)

        let transferAccount = null
        if (this.payee) {
          transferAccount = this.$current.dbCtrl.manager.getAccount(this.payee.id)
        }

        this.saveCategory(split, data.category, account, transferAccount)
        this.savePayee(split, data.payee, account, transferAccount)

        return split
      },
      addPayee (transaction, payee) {
        this.removeTransfer(transaction)

        if (transaction.payee) {
          this.removePayee(transaction)
        }

        transaction.payee = payee.id

        payee.categorySuggest = transaction.category
      },
      removePayee (transaction) {
        const transactions = Object.keys(this.$current.dbCtrl.manager.transactions).map(k => this.$current.dbCtrl.manager.transactions[k])

        for (let i = 0; i < transactions.length; i++) {
          if (transactions[i].payee === transaction.payee &&
              transactions[i].id !== transaction.id) {
            transaction.payee = null

            return
          }
        }

        if (this.$current.dbCtrl.payees[transaction.payee] && !this.$current.dbCtrl.payees[transaction.payee].internal) {
          this.$current.dbCtrl.payees[transaction.payee].remove()
          delete this.$current.dbCtrl.payees[transaction.payee]

          transaction.payee = null
        }
      },
      removeTransfer (transaction) {
        if (transaction.transfer) {
          transaction.transfer.transfer = null

          this.$current.dbCtrl.manager.removeTransaction(transaction.transfer)
          transaction.transfer.remove()

          this.$current.budgetMgr().put(transaction.transfer)

          transaction.transfer = null
        }

        if (transaction._data.transfer) {
          transaction._data.transfer = null
        }
      }
    },
    mounted () {
      Payee = payee(this.$current.budgetId())
      Transaction = transaction(this.$current.budgetId())
      SplitTransaction = splitTransaction(this.$current.budgetId())

      this.originalAccount = this.transaction.account
      this.account = this.transaction.account
      this.date = this.transaction.date
      this.value = this.transaction.value
      this.payee = this.$current.dbCtrl.payees[this.transaction.payee]
      this.category = this.transaction.category
      this.checkNumber = this.transaction.checkNumber
      this.memo = this.transaction.memo
      this.flag = this.transaction.flag
      this.cleared = this.transaction.cleared
      this.reconciled = this.transaction.reconciled
      this.splits = this.transaction.splits.map(s => this.initializeSplitEditor(s))
      this.transfer = this.transaction.transfer

      if (this.transaction.transfer) {
        this.payee = this.$current.dbCtrl.manager.getAccount(this.transaction.transfer.account)
      }

      if (this.value === 0) {
        this.amountEdit()
      }
    }
  }
</script>

<!-- ================================================== -->
<!--  Transaction editor CSS. -->
<!-- ================================================== -->

<style scoped>
  .list-item {
    height: 50px;
    margin: 0;
    padding: 0;
  }

  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none;
  }

  .flag-selector {
    display: inline-block;
    border: 3px solid;
    border-radius: 50%;
    height: 26px;
    width: 26px;
    margin: 8px 2px 8px 2px;
  }

  .flag-none {
    border-color: #cccccc;
  }

  .flag-red {
    border-color: #ff0000;
  }

  .flag-orange {
    border-color: #faa710;
  }

  .flag-yellow {
    border-color: #e5e500;
  }

  .flag-green {
    border-color: #76b852;
  }

  .flag-blue {
    border-color: #5276b8;
  }

  .flag-purple{
    border-color: #b852a9;
    margin-right: 0px;
  }
  
  .container {
    display: table;
    width: 100%;
    margin: 8px 0px 8px 0px;
  }

  .labels {
    width: 60px;
    display:table-cell;
  }

  .inputs {
    width: 100%;
    display: table-cell;
    padding: 4px;
  }

  .switch {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 26px;
  }

  .switch input {display:none;}

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #cccccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: #ffffff;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(20px);
    -ms-transform: translateX(20px);
    transform: translateX(20px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 26px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  .vdp-datepicker__calendar {
    border: 5px solid #ff0000;
  }

  .warning-text {
    text-align: center;
    padding: 4px 0px;
  }
</style>