<!-- ================================================== -->
<!--  Date editor template. -->
<!-- ================================================== -->

<template>
  <div>
    
    <!-- Header. -->
    <div class="w3-display-container w3-container w3-theme-l3" style="height:40px; position: absolute; width: 100%; top: 0; bottom: 0; left: 0; right: 0">
      <div class="w3-display-left w3-container">Amount</div>
    </div>

    <div style="position: absolute; top: 40px; bottom: 0; left: 0; right: 0; overflow-y: scroll; -webkit-overflow-scrolling: touch;">

      <div class="amount-wrapper w3-container w3-margin w3-card w3-white">
        <h2>
          <div :class="[amount < 0 ? 'w3-text-red' : amount > 0 ? 'w3-text-green' : 'w3-text-grey']">
            <b>{{amount | currencyInt(true, $.digits) | currency($.symbol, $.digits)}}</b>
          </div> 
        </h2>
      </div>

      <div class="inflow-outflow-wrapper">
        <div @click="setInflow" :class="[inflow === true ? 'w3-green': 'w3-grey w3-text-grey']" class="button w3-card">Inflow</div>
        <div @click="setOutflow" :class="[inflow === false ? 'w3-red': 'w3-grey w3-text-grey']" class="button w3-card">Outflow</div>
      </div>

      <div class="calculator-wrapper">
        <div @click="numericEntry(7)" class="button w3-padding-16 w3-card w3-theme-l3">7</div>
        <div @click="numericEntry(8)" class="button w3-padding-16 w3-card w3-theme-l3">8</div>
        <div @click="numericEntry(9)" class="button w3-padding-16 w3-card w3-theme-l3">9</div>
        <div @click="numericEntry(4)" class="button w3-padding-16 w3-card w3-theme-l3">4</div>
        <div @click="numericEntry(5)" class="button w3-padding-16 w3-card w3-theme-l3">5</div>
        <div @click="numericEntry(6)" class="button w3-padding-16 w3-card w3-theme-l3">6</div>
        <div @click="numericEntry(1)" class="button w3-padding-16 w3-card w3-theme-l3">1</div>
        <div @click="numericEntry(2)" class="button w3-padding-16 w3-card w3-theme-l3">2</div>
        <div @click="numericEntry(3)" class="button w3-padding-16 w3-card w3-theme-l3">3</div>
        <div @click="clear" class="button w3-padding-16 w3-card w3-theme-l3">Clear</div>
        <div @click="numericEntry(0)" class="button w3-padding-16 w3-card w3-theme-l3">0</div>
        <div @click="backspace" class="button w3-padding-16 w3-card w3-theme-l3"><i class="fa fa-arrow-left" aria-hidden="true"></i></div>
      </div>

      <div class="save-cancel-wrapper">
        <div @click="save" class="button w3-card w3-theme">OK</div>
        <div @click="cancel" class="button w3-card w3-theme">Cancel</div>
      </div>

    </div>

  </div>
</template>

<!-- ================================================== -->
<!--  Date editor script. -->
<!-- ================================================== -->

<script>
  export default {
    name: 'fm-amount-editor',
    props: [
      'originalAmount'
    ],
    data () {
      return {
        amount: 0,
        inflow: false
      }
    },
    methods: {
      goBack () {
        this.cancel()
      },
      setInflow () {
        this.amount = Math.abs(this.amount)
        this.inflow = true
      },
      setOutflow () {
        this.amount = -Math.abs(this.amount)
        this.inflow = false
      },
      numericEntry (value) {
        if (this.amount === 0) {
          this.amount = value
          if (!this.inflow) {
            this.amount = -this.amount
          }
        } else {
          this.amount = Number(this.amount.toString() + value.toString())
        }
      },
      backspace () {
        const newAmount = Number(this.amount.toString().slice(0, -1))
        if (isNaN(newAmount)) {
          this.amount = 0
        } else {
          this.amount = newAmount
        }
      },
      clear () {
        this.amount = 0
      },
      save () {
        this.$emit('save', this.amount)
      },
      cancel () {
        this.$emit('cancel')
      }
    },
    mounted () {
      this.amount = this.originalAmount

      if (this.amount > 0) {
        this.inflow = true
      } else {
        this.inflow = false
      }
    }
  }
</script>

<!-- ================================================== -->
<!--  Date editor CSS. -->
<!-- ================================================== -->

<style>
  .amount-wrapper {
    text-align: center;
  }

  .inflow-outflow-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
    margin: 0px 16px 16px 16px;
  }

  .calculator-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 8px;
    margin: 0px 16px 0px 16px;
  }
</style>