<!-- ================================================== -->
<!--  Account template. -->
<!-- ================================================== -->

<template>
  <div>

    <!-- Account view. -->
    <div v-show="!isEditingTransaction" >
      <!-- Header. -->
      <div class="w3-display-container w3-container w3-theme-l3" style="height:40px; position: absolute; width: 100%; top: 0; bottom: 0; left: 0; right: 0">
        
        <!-- Back button. -->
        <router-link :to="'/' + this.$route.params.budgetId + '/accounts'" class="back-button w3-display-left w3-display-container">
          <div class="w3-display-middle w3-large"><div style="margin-bottom: 3px;">«</div></div>
        </router-link>

        <!-- Header text. -->
        <div v-if="account" class="page-text w3-display-left">{{account.name}}</div>

        <!-- Add transaction button. -->
        <div @click="addTransaction" class="new-button w3-display-right w3-theme-l2"><i class="fa fa-plus-circle" aria-hidden="true"></i> Add Transaction</div>

      </div>

      <!-- Transaction list. -->
      <div class="w3-display-container w3-container w3-theme-l4 divider-line-bottom" style="height:60px; position: absolute; width: 100%; top: 40px; bottom: 0; left: 0; right: 0">
        <div v-if="account" class="w3-display-middle w3-container w3-tiny">
          
          <table>
            <tr style="white-space: nowrap;">
              <td><center>Cleared</center></td>
              <td></td>
              <td><center>Uncleared</center></td>
              <td></td>
              <td><center>Working</center></td>
            </tr>
            </tr>
              <td>
                <center>
                  <div
                    :class="getColor(account.cache.clearedBalance)"
                    class="w3-padding-small w3-round-xlarge" style="min-width: 50px; white-space: nowrap;">
                    <center>
                      <b>{{account.cache.clearedBalance | currencyInt(true, $.digits) | currency($.symbol, $.digits)}}</b>
                    </center>
                  </div>
                </center>
              </td>
              <td valign="center"><b>+</b></td>
              <td>
                <center>
                  <div
                    :class="getColor(account.cache.unclearedBalance)"
                    class="w3-padding-small w3-round-xlarge" style="min-width: 50px; white-space: nowrap;">
                    <center>
                      <b>{{account.cache.unclearedBalance | currencyInt(true, $.digits) | currency($.symbol, $.digits)}}</b>
                    </center>
                  </div>
                </center>
              </td>
              <td valign="center"><b>=</b></td>
              <td>
                <center>
                  <div
                    :class="getColor(account.cache.balance)"
                    class="w3-padding-small w3-round-xlarge" style="min-width: 50px; white-space: nowrap;">
                    <center>
                      <b>{{account.cache.balance | currencyInt(true, $.digits) | currency($.symbol, $.digits)}}</b>
                    </center>
                  </div>
                </center>
              </td>
            </tr>
          </table>

        </div>

        <div v-if="account" @click="toggleMenu" class="note-button">
          <fm-note-icon
            :disable="account.note === null || account.note === ''"
            class="note-icon w3-medium">
          </fm-note-icon>
        </div>

      </div>

      <div id="transaction-container"
        v-if="account"
        infinite-wrapper
        style="position: absolute; top: 100px; bottom: 0; left: 0; right: 0; overflow-y: scroll; -webkit-overflow-scrolling: touch;">

        <div v-if="showMenu" class="menu-container divider-line-bottom w3-theme-l5">
          <fm-note-editor
            :originalNote="account.note"
            v-on:save="saveNote"
            style="width: 100%">
          </fm-note-editor>
        </div>

        <ul class="w3-ul">
          <li style="margin: 0; padding: 0; border: 0" v-for="(transaction, index) in transactionList" :key="index">
            <fm-transaction
              :transaction='transaction'
              :editFunction='editTransaction'
              :class="{'w3-white': index % 2 === 0, 'w3-theme-l5': index % 2 !== 0 }">
            </fm-transaction>
          </li>
        </ul>

        <div style="min-height: 50px">
          <infinite-loading ref="infinite" @infinite="infiniteHandler" force-use-infinite-wrapper="true">
            <span slot="no-more">No More Transactions</span>
            <span slot="no-results">No More Transactions</span>
            <span slot="spinner">
              <div class="w3-bar w3-display-container" style="height:50px">
                <div class="spinner w3-display-topmiddle w3-border-theme"></div>
              </div>
            </span>
          </infinite-loading>
        </div>
          
      </div>
    </div>

    <!-- Transaction editor. -->
    <div v-if="isEditingTransaction">

      <fm-transaction-editor
        ref="transactionEditor"
        v-on:done="doneEditing"
        :newTransaction="newTransaction"
        :transaction="transactionToEdit" />
        
    </div>

  </div>
</template>

<!-- ================================================== -->
<!--  Account script. -->
<!-- ================================================== -->

<script>
  import moment from 'moment'
  import InfiniteLoading from 'vue-infinite-loading'
  import Transaction from './transaction'
  import TransactionEditor from '../editors/editor-transaction'
  import NoteEditor from '../budget/note-editor'
  import NoteIcon from '../budget/note-icon'
  import { Transaction as transaction } from '../../services/data/transaction'

  let Trans

  export default {
    name: 'fm-account',
    components: {
      'fm-transaction': Transaction,
      'fm-transaction-editor': TransactionEditor,
      'fm-note-editor': NoteEditor,
      'fm-note-icon': NoteIcon,
      InfiniteLoading
    },
    data () {
      return {
        account: null,
        transactions: [],
        transactionList: [],
        transactionsMemory: [],
        isEditingTransaction: false,
        newTransaction: false,
        transactionToEdit: null,
        showMenu: false
      }
    },
    computed: {
      sortedTransactions () {
        return this.transactions.sort(function (x, y) { return y.date - x.date || y.value - x.value })
      }
    },
    methods: {
      load () {
        Trans = transaction(this.$current.budgetId())

        for (let i = 0; i < this.$current.dbCtrl.accounts.length; i++) {
          if (this.$current.dbCtrl.accounts[i].id === this.$route.params.accountId) {
            this.account = this.$current.dbCtrl.accounts[i]
            this.transactions = this.account.transactions
          }
        }
      },
      toggleMenu () {
        this.showMenu = !this.showMenu
        if (this.showMenu) {
          this.$emit('showMenu', this)
        }
      },
      saveNote (note) {
        this.account.note = note
        this.showMenu = false
      },
      getColor (value) {
        if (value > 0) {
          return 'w3-green'
        } else if (value < 0) {
          return 'w3-red'
        } else {
          return 'w3-dark-grey'
        }
      },
      infiniteHandler ($state) {
        if (this.transactionList.length === this.sortedTransactions.length) {
          $state.complete()
          return
        }

        setTimeout(() => {
          const temp = []
          for (let i = this.transactionList.length; i <= this.transactionList.length + 49; i++) {
            if (i < this.sortedTransactions.length) {
              temp.push(this.sortedTransactions[i])
            }
          }
          this.transactionList = this.transactionList.concat(temp)
          $state.loaded()
        }, 1000)
      },
      scrollToTop () {
        if (document.getElementById('transaction-container').scrollTop > 0) {
          document.getElementById('transaction-container').scrollTop = 0
          this.transactionList = []
          this.$refs.infinite.stateChanger.reset()
        }
      },
      addTransaction () {
        const newTransaction = new Trans({
          date: moment().format('YYYY-MM-DD'),
          account: this.account.id || null
        })
        this.newTransaction = true
        this.editTransaction(newTransaction)
      },
      editTransaction (transaction) {
        this.transactionToEdit = transaction
        this.isEditingTransaction = true
      },
      doneEditing () {
        this.transactionToEdit = null
        this.isEditingTransaction = false
        this.newTransaction = false
      }
    },
    mounted: function () {
      if (this.$current.dbCtrl === null || this.$current.dbCtrl === undefined) {
        this.$current.loadBudget(this.$route.params.budgetId, this.$db).then((dbCtrl) => {
          this.$current.dbCtrl = dbCtrl
          this.load()
        })
      } else {
        this.load()
      }

      this.$on('showMenu', (sender) => {
        if (sender !== this) {
          this.showMenu = false
        }
      })
    },
    watch: {
      'sortedTransactions': function (value) {
        if (this.$refs.infinite !== undefined) {
          let count

          if (this.$refs.infinite.isComplete) {
            count = this.sortedTransactions.length
          } else {
            count = this.transactionList.length
          }

          this.transactionList = []
          for (let i = 0; i < count; i++) {
            this.transactionList.push(this.sortedTransactions[i])
          }
        }
      }
    },
    beforeRouteLeave (to, from, next) {
      if (to.name === 'Accounts') {
        if (this.isEditingTransaction) {
          next(false)
          this.$refs.transactionEditor.goBack()
        } else {
          next()
        }
      } else {
        next()
      }
    }
  }
</script>

<!-- ================================================== -->
<!--  Account CSS. -->
<!-- ================================================== -->

<style scoped>
  .divider-line-bottom {
    border-bottom: 1px solid #ddd;
  }

  .note-button {
    width: 50px;
    height: 60px;
    display: grid;
    grid-auto-rows: 60px;
    position: absolute;
    left: 0;
    top: 0;
  }

  .note-icon {
    justify-self: center;
    align-self: end;
    padding-bottom: 11px;
  }

  .new-button {
    height: 40px;
    vertical-align: center;
    line-height: 40px;
    padding: 0px 16px;
  }

  .bar-50 {
    height: 50px;
  }

  .back-button {
    height: 40px;
    width: 50px;
  }

  .page-text {
    margin-left: 50px;
  }

  .spinner {
    border: 3px solid;
    border-bottom: 3px solid transparent !important;
    border-left: 3px solid transparent !important;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    margin-top: 18px;
    animation: spin 0.5s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .menu-container {
    display: grid;
    grid-auto-rows: 30px;
    grid-gap: 10px;
    padding: 10px 10px 10px 13px;
    align-items: center;
    clear: both;
  }
</style>
