<!-- ================================================== -->
<!--  Split transaction template. -->
<!-- ================================================== -->

<template>

  <div class="w3-display-container bar-50">

    <!-- Payee. -->
    <div class="w3-display-left" style="margin-left: 70px;">
      <div
        style="margin-bottom: 20px;"
        :style="[payeeName === 'No payee' ? {'font-style': 'italic', 'color': '#cccccc'} : {'font-weight': 'bold'}]">
        {{payeeName}}
      </div>
    </div>

    <!-- Category. -->
    <div class="w3-display-left" style="margin-left: 70px;">
      <div style="margin-top: 20px; margin-right: 100px">
        {{categoryName}}
      </div>
    </div>

    <!-- Memo.. -->
    <div class="w3-display-right">
      <div class="w3-margin-right w3-text-grey" style="margin-top: 20px;">
        {{memo}}
        </div>
    </div>

    <!-- Transaction amount. -->
    <div class="w3-display-right">
      <div :class="[split.value < 0 ? 'w3-margin-right w3-text-red' : 'w3-margin-right w3-text-green']" style="margin-bottom: 20px">
        {{split.value | currencyInt(true, $.digits) | currency($.symbol, $.digits)}}
      </div>
    </div>

    <div class="w3-display-top w3-border-top" style="margin: 0px 16px 0px 70px" />

  </div>

</template>

<!-- ================================================== -->
<!--  Split transaction script. -->
<!-- ================================================== -->

<script>
  export default {
    name: 'fm-transaction-split',
    props: [
      'transaction',
      'split'
    ],
    computed: {
      payeeName () {
        let payee = ''

        if (this.split.transfer !== null && this.split.transfer !== undefined) {
          payee = '⇄ ' + this.$current.dbCtrl.getAccountName(this.split.transfer.account)
        } else {
          payee = this.$current.dbCtrl.getPayeeName(this.split.payee)
        }

        if (payee !== '' && payee !== null) {
          return payee
        } else {
          return 'No payee'
        }
      },
      categoryName () {
        return this.$current.dbCtrl.getCategoryName(this.split.category, this.split.date) || '' // (accountCtrl.transactionNeedsCategory(transaction) ? 'No category' : '')
      },
      memo () {
        if (this.split.memo) {
          return this.split.memo
        } else {
          return ''
        }
      }
    }
  }
</script>

<!-- ================================================== -->
<!--  Split transaction CSS. -->
<!-- ================================================== -->

<style scoped>
  .bar-50 {
    height: 50px
  }
</style>