<!-- ================================================== -->
<!--  App template. -->
<!-- ================================================== -->

<template>
  <div id="app">
    <div class="w3-small">

      <!-- Sidebar. -->
      <div class="w3-sidebar w3-bar-block w3-animate-top w3-card" id="menuBar">
        <div class="w3-card">

          <!-- Close menu button. -->
          <button @click="closeMenu" class="menu-header w3-bar-item w3-theme">
            <div class="menu-text">Close</div>
          </button>

          <!--Home menu. -->
          <a @click="home" class="w3-bar-item w3-button w3-border-bottom">
            <div class="w3-padding-16">Home</div>
          </a>

          <!-- Login menus. -->
          <a v-if="!authenticated && offline" @click="login" class="w3-bar-item w3-button w3-border-bottom">
            <div class="w3-padding-16">Login</div>
          </a>
          <a v-if="!authenticated && offline" @click="showClearModal" class="w3-bar-item w3-button w3-border-bottom">
            <div class="w3-padding-16">Clear Local Data</div>
          </a>

          <!--Logout menus. -->
          <a v-if="authenticated" @click="showLogoutModal" class="w3-bar-item w3-button w3-border-bottom">
            <div class="w3-padding-16">Logout</div>
          </a>
          <a v-if="authenticated" @click="showLogoutClearModal" class="w3-bar-item w3-button w3-border-bottom">
            <div class="w3-padding-16">Logout & Clear Local Data</div>
          </a>

          <!--Settings menu. -->
          <a @click="settings" class="w3-bar-item w3-button w3-border-bottom">
            <div class="w3-padding-16">Settings</div>
          </a>

          <!--About menu. -->
          <a @click="about" class="w3-bar-item w3-button w3-border-bottom">
            <div class="w3-padding-16">About</div>
          </a>

        </div>
      </div>
      
      <!-- Logout modal. -->
      <div class="w3-container">
        <div id="logout-modal" class="w3-modal">
          <div class="w3-modal-content w3-card-4 w3-margin-top">
            <div class="w3-container w3-theme-d1"> 
              <span class="w3-panel">⚠ Are you sure you want to logout?</span>
            </div>
            <div class="w3-panel w3-margin-right">
              <div class="w3-cell-row w3-margin-bottom">
                <div class="w3-cell">
                  <button
                    class="w3-button w3-card w3-theme w3-block w3-margin-right"
                    @click="logout">Yes</button>
                </div>
                <div class="w3-cell">
                  <button
                    class="w3-button w3-card w3-theme w3-block w3-margin-left"
                    onclick="document.getElementById('logout-modal').style.display='none'">No</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Logout & clear modal. -->
      <div class="w3-container">
        <div id="logout-clear-modal" class="w3-modal">
          <div class="w3-modal-content w3-card-4 w3-margin-top">
            <div class="w3-container w3-theme-d1"> 
              <span class="w3-panel">⚠ Are you sure you want to logout and clear local budget data?</span>
            </div>
            <div class="w3-panel w3-margin-right">
              <div class="w3-cell-row w3-margin-bottom">
                <div class="w3-cell">
                  <button
                    class="w3-button w3-card w3-theme w3-block w3-margin-right"
                    @click="logoutDestroy">Yes</button>
                </div>
                <div class="w3-cell">
                  <button
                    class="w3-button w3-card w3-theme w3-block w3-margin-left"
                    onclick="document.getElementById('logout-clear-modal').style.display='none'">No</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Logout & clear modal. -->
      <div class="w3-container">
        <div id="clear-modal" class="w3-modal">
          <div class="w3-modal-content w3-card-4 w3-margin-top">
            <div class="w3-container w3-theme-d1"> 
              <span class="w3-panel">⚠ Are you sure you want to clear local budget data?</span>
            </div>
            <div class="w3-panel w3-margin-right">
              <div class="w3-cell-row w3-margin-bottom">
                <div class="w3-cell">
                  <button
                  class="w3-button w3-card w3-theme w3-block w3-margin-right"
                  @click="destroy">Yes</button>
                </div>
                <div class="w3-cell">
                  <button
                    class="w3-button w3-card w3-theme w3-block w3-margin-left"
                    onclick="document.getElementById('clear-modal').style.display='none'">No</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Header. -->
      <div class="header-container w3-theme w3-card-2">

        <button class="menu-button w3-button w3-theme-d1" @click="openMenu">
          <span class="button-content">☰</span>
        </button>

        <div class="header-text">
          <router-link to="/">{{headerText}}</router-link>
        </div>

        <!-- Syncing text. -->
        <div v-if="!syncing && authenticated" class="sync-text w3-tiny">Sync complete</div>
        <div v-if="syncing && authenticated" class="sync-text w3-tiny">Syncing</div>

        <!-- Syncing spinners. -->
        <div v-if="syncing && authenticated && themeDark" class="sync-spinner">
          <div class="spinner-dark"></div>
        </div>
        <div v-if="syncing && authenticated && themeLight" class="sync-spinner">
          <div class="spinner-light"></div>
        </div>

      </div>

      <!-- Offline warning indicator. -->
      <div class="offline-warning" v-if="offline">
        <div class="offline-warning-text w3-tiny"><b>⚠ Warning</b>: Offline Mode. Sign in to avoid losing data.</div>
      </div>

      <!-- Router view. -->
      <div id="content-container" class="content-container">
        <router-view></router-view>
      </div>

    </div>
  </div>
</template>

<!-- ================================================== -->
<!--  App script. -->
<!-- ================================================== -->

<script>
  import { Subscription } from 'rxjs/Subscription'

  let _subscriptions

  export default {
    name: 'app',
    data () {
      return {
        syncing: true,
        themeDark: true,
        themeLight: false,
        headerText: 'Financier Mobile'
      }
    },
    methods: {
      openMenu () {
        document.getElementById('menuBar').style.display = 'block'
      },
      closeMenu () {
        document.getElementById('menuBar').style.display = 'none'
      },
      home () {
        this.closeMenu()
        this.$router.push('/')
      },
      settings () {
        this.closeMenu()
        this.$router.push('/settings')
      },
      about () {
        this.closeMenu()
        this.$router.push('/about')
      },
      login () {
        this.closeMenu()
        this.$router.push('/login')
      },
      logout () {
        document.getElementById('logout-modal').style.display = 'none'
        this.$auth.logout()
      },
      logoutDestroy () {
        document.getElementById('logout-clear-modal').style.display = 'none'
        this.$auth.logout().then(
          this.$db.destroy()
        )
      },
      destroy () {
        document.getElementById('clear-modal').style.display = 'none'
        this.$db.destroy()
      },
      showLogoutModal () {
        this.closeMenu()
        document.getElementById('logout-modal').style.display = 'block'
      },
      showLogoutClearModal () {
        this.closeMenu()
        document.getElementById('logout-clear-modal').style.display = 'block'
      },
      showClearModal () {
        this.closeMenu()
        document.getElementById('clear-modal').style.display = 'block'
      }
    },
    subscriptions: function () {
      return {
        syncing: this.$db.$syncChanged.asObservable(),
        authenticated: this.$auth.$authChanged.asObservable(),
        offline: this.$auth.$offlineChanged.asObservable()
      }
    },
    mounted: function () {
      const theme = this.$theme.getTheme()

      const dateFormat = this.$dateSettings.getDateFormat()
      if (dateFormat !== 'YY/MM/DD' && dateFormat !== 'DD/MM/YY' && dateFormat !== 'MM/DD/YY') {
        this.$dateSettings.setDateFormat('MM/DD/YY')
      }
  
      if (theme === null) {
        this.$theme.setTheme('green')
      } else {
        document.getElementById('theme-icon').setAttribute('href', '/icons/fav-icons/favicon-' + theme + '.ico')
        document.getElementById('apple-icon-120').setAttribute('href', '/icons/touch-icons/apple-touch-icon-120-' + theme + '.png')
        document.getElementById('apple-icon-152').setAttribute('href', '/icons/touch-icons/apple-touch-icon-152-' + theme + '.png')
        document.getElementById('apple-icon-167').setAttribute('href', '/icons/touch-icons/apple-touch-icon-167-' + theme + '.png')
        document.getElementById('apple-icon-180').setAttribute('href', '/icons/touch-icons/apple-touch-icon-180-' + theme + '.png')
        document.getElementById('theme-color').setAttribute('href', 'https://www.w3schools.com/lib/w3-theme-' + theme + '.css')
      }

      _subscriptions = new Subscription()

      _subscriptions.add(this.$auth.$authChanged.subscribe((auth) => {
        if (auth !== null) {
          if (auth) {
            this.$db.sync.start(this.$auth.userdb, this.$auth.isValidSub)
            // this.$router.push('/')
          }
        }
      }))

      _subscriptions.add(this.$auth.$loginSuccess.subscribe((value) => {
        this.$router.push('/')
      }))

      _subscriptions.add(this.$db.$syncChanged.subscribe((syncing) => {
        if (syncing !== this.syncing) {
          if (syncing) {
            console.log('Syncing started.')
          } else {
            console.log('Syncing done.')
          }
        }
        this.syncing = syncing
      }))

      _subscriptions.add(this.$auth.$offlineChanged.subscribe((offline) => {
        if (offline) {
          document.getElementById('content-container').style.top = '70px'
        } else {
          document.getElementById('content-container').style.top = '50px'
        }
      }))

      _subscriptions.add(this.$current.$budgetOpened.subscribe((value) => {
        this.headerText = value
      }))

      _subscriptions.add(this.$current.$budgetClosed.subscribe((value) => {
        this.headerText = 'Financier Mobile'
      }))

      _subscriptions.add(this.$theme.$themeChanged.subscribe((theme) => {
        if (
          theme === 'light-blue' ||
          theme === 'lime' ||
          theme === 'khaki' ||
          theme === 'yellow' ||
          theme === 'amber' ||
          theme === 'orange'
        ) {
          this.themeDark = false
          this.themeLight = true
        } else {
          this.themeDark = true
          this.themeLight = false
        }
      }))

      this.$auth.checkSession()
    },
    beforeDestroy: function () {
      _subscriptions.unsubscribe()
    }
  }
</script>

<!-- ================================================== -->
<!--  App CSS. -->
<!-- ================================================== -->

<style>
  .noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
  }
  
  div {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }

  input {
    border-radius: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }

  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
  }

  a {
    text-decoration: none;
  }

  .header-container {
    height: 50px;
    position: absolute;
    top: 0px;
    width: 100%;
  }

  .menu-button {
    float: left;
    vertical-align: middle;
    height: 50px; width: 50px;
  }

  .header-text {
    float: left;
    vertical-align: middle;
    line-height: 50px;
    margin-left: 10px;
  }

  .sync-spinner {
    float: right;
  }

  .sync-text {
    float: right;
    vertical-align: middle;
    line-height: 50px;
    margin-left: 6px;
    margin-right: 16px;
  }

  .button-content {
    font-size: 16px;
    font-weight: bold
  }

  .spinner-dark {
    border: 3px solid transparent;
    border-top: 3px solid #ffffff;
    border-right: 3px solid #ffffff;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    margin-top: 18px;
    animation: spin 0.5s linear infinite;
  }

  .spinner-light {
    border: 3px solid transparent;
    border-top: 3px solid #000000;
    border-right: 3px solid #000000;
    border-radius: 50%;
    width: 14px;
    height: 14px;
    margin-top: 18px;
    animation: spin 0.5s linear infinite;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .menu-header {
    height: 50px;
  }

  .offline-warning {
    background: #e11a0c;
    color: #ffffff;
    text-align: center;
    height: 20px;
    position: absolute;
    top: 50px;
    width: 100%;
  }

  .offline-warning-text {
    padding: 2px 8px 2px 8px;
  }

  .content-container {
    position: absolute;
    bottom: 0px; top: 50px;
    width: 100%;
  }

  .w3-sidebar {
    display: none;
    width: 100%;
  }

  .bar-height {
    height: 60px;
  }

  .save-cancel-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
    margin: 16px 16px 16px 16px;
  }

  .button {
    text-align: center;
    padding: 8px;
  }
</style>
